.app-container {
  display: grid;
  grid-template-columns: 5% auto 5%;
}

.header-container {
  position: relative;
}

.header {
  grid-column: 2;
  margin-top: 48px;
}
.logo {
    margin-right: 220px;
    display: inline;
}
.destinations, .nav-link{
    padding-left: 28px;
    padding-right: 28px;
    color: #212832;
    width: 51px;
    height: 22px;
    font-family:arial;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;    
    cursor: pointer;
}



.nav-link-container {
  position: absolute;
  top: 30%;
}

.nav-link-container > .active {
  font-weight: bold;
}

.nav-link-container > .button {
    border:1px solid ;
    border-radius: 3px;
    padding: 8px 20px ;
}
.dropdown > img{
    padding-left: 10px;
    padding-bottom: 5px;
    
}
.image{ 
    position: fixed;
    height: 870px;
    right: -39px;
    top: -53px;
    grid-column: 1/-1;

}